.title {
    text-align: center;
}
.collab {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

textarea {
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
}