body {background-color: powderblue;}

.title {
    text-align: center;
}
.collab {
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}
.sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttons-container{
    display: "flex"; 
    flex-Direction: "column";
    align-items: "center";
    justify-Content: "space-evenly";
}

.textbox{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 450px;
}

.box-title{
    text-align: center;
}

textarea {
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 400px;
    overflow: auto;
}